@import "compass/reset";
@import "compass/css3";
@import "../stylesheets/fontello.css";

$dark-grey: #323334;
$middle-grey: #D1D2D3;
$light-grey: #DCDDDE;
$grass-green: #7DB336;
$dark-pink: #E6508A;
$spaceToIconInMobile: -32px;
$spaceToIconInTablet: -43px;

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  background-color: $dark-grey;
}

.item-icon {
  font-size: 1.5rem;
  color: $light-grey;
}

.invitation-form {
  box-sizing: border-box;
  min-width: 350px;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 15px;
  border-radius: 3px;
  background-color: white;
  .invitation-title {
    padding-top: 58px;
    font-size: 2rem;
    text-align: center;
  }
  .invitation-desc {
    padding: 12px 0 30px;
    color: $middle-grey;
    text-align: center;
  }
  .person-list {
    border-top: 1px solid $middle-grey;
    position: relative;
    margin: 20px 30px 32px 0;
    padding-top: 8px;
    .icon-search {
      position: absolute;
      top: -12px;
      right: $spaceToIconInMobile;
    }
    .person-item {
      position: relative;
      margin: 30px auto;
      .person-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
      .person-info {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        .person-name {
          color: $grass-green;
          margin-bottom: 5px;
        }
        .person-skill {
          color: $light-grey;
          font-size: 0.8rem;
          display: block;
          margin-bottom: 5px;
        }
        .person-location {
          color: $middle-grey;
          margin-right: 10px;
        }
      }
      .item-icon {
        position: absolute;
        top: 30px;
        right: $spaceToIconInMobile;
      }
    }
  }
  .invitation-input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 200;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    color: $middle-grey;
    padding: 5px 20px;
    border-radius: 3px;
    outline: 0;
  }
  .invitation-button {
    margin: 30px 0 40px;
    width: 100%;
    height: 60px;
    font-size: 1.125rem;
    box-sizing: border-box;
    padding: 5px 20px;
    color: white;
    border: none;
    background-color: $dark-pink;
    border-radius: 3px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .invitation-form {
    padding: 0 50px;
    .person-list {
      margin: 20px 38px 32px 0;
      .icon-search {
        right: $spaceToIconInTablet;
      }
      .person-item {
        .person-avatar {
          width: 80px;
          height: 80px;
          margin-right: 25px;
        }
        .item-icon {
          right: $spaceToIconInTablet;
        }
      }
    }
  }
}